*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Properties */
/* @todo primary color and white contrast is too low */

:root {
    --primary: #e4c1ae;
    --hover: #dbb5a0;
    --accent: #1c7947;
    --light: #ffffff;
    --dark: #121212;
}

/* General Styling */

body {
    display: flex;
    justify-content: center;
    background: var(--light);
    color: var(--dark);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    width: 100%;
    min-height: 100vh;
}

main {
    max-width: 1440px;
    padding: 2rem;
}

/* Hero Section */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.img-hero {
    max-width: 505px;
}

.img-hero img {
    max-width: 100%;
    overflow: hidden;
    height: auto;
}

/* Buttons */

.btn {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    background: var(--primary);
    color: var(--light);
    padding: 1em 2.5em;
    border-radius: 32px;
    border: none;
    transition: 300ms ease-in-out;
    align-self: flex-start;
}

.btn:hover {
    background: var(--hover);
}

.btn:focus {
    outline: none;
}

.close-btn {
    display: flex;
    max-height: 12px;
    max-width: 12px;
    align-items: center;
    cursor: pointer;
    font-size: 26px;
    color: var(--dark);
    border: none;
    background: none;
    margin-left: auto;
}

#reset-btn {
    display: none;
    margin-left: auto;
    margin-top: 1rem;
}

#reset-btn.active {
    display: block;
}

/* Content */

h1,
h2 {
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.content-container p{
    margin-bottom: 2rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 92%;
    max-width: 1400px;
    margin: 0 auto;
}

/* Modal */

.modal {
    display: none;
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--light);
    width: 80%;
    padding: 2rem;
}

.modal-background {
    display: none;
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    top:0;
    left:0;
    background: var(--dark);
    opacity: 0.5;
}

.modal.active {
    display: flex;
}

.modal-background.active {
    display: flex;
}

.modal span {
    font-weight: 700;
}

@media(min-width: 650px) {
    main {
        padding: 6rem 5% 5% 5%;
    }

    .hero {
        flex-direction: row;
    }
}

@media(min-width:1230px) {
    main {
        padding: 6rem 14.375rem;
    }

    .hero {
        gap: 6rem;
        height: 330px;
    }

    .modal-wrapper {
        min-width: 920px;
        padding: 46px 46px 56px 95px;
        width: initial;
    }

    #reset-btn {
        margin-top: 0;
    }
}